* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;

    position: inherit;
   
    margin: 0;
}

.navbar {
    background-image: -webkit-linear-gradient(left, lightskyblue,lightgreen);
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;


}
.Home {
    padding-right: 63%;
}

h2 {
    padding-right: 20px;
}

a h2{
    color: #000;
    font-size: 24px;

}
#mai {
    background-image: -webkit-linear-gradient(top, lightblue,lightskyblue);
}
.Main {
    
    width: 100%;
    height: 650px;
}

div.Profile {
    display: flex;
    justify-content: center;
    align-items: center;
}


img#Centpic{
    width: 300px;
    border-radius: 50%;
    margin-top: 80px;


}
h1#Name {
    
    font-size: 150px;
    color:darkslateblue;
}


.centeral {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 20px;
}

button#dark {
    width: 50px;
    height: 30px;
    border-radius: 27%;
    background-color: rgb(14, 14, 14);
    color: aliceblue;
}